<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />
    <title>
        <asp:ContentPlaceHolder ID="title1" runat="server">
        </asp:ContentPlaceHolder>
    </title>
    @Styles.Render("~/VENDORS/CSS")
    @Styles.Render("~/BUILD/CSS")
    <asp:ContentPlaceHolder ID="head1" runat="server">
    </asp:ContentPlaceHolder>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Images/Logo.ico")" />
</head>
<body class="nav-md">
    <form id="form1" runat="server">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="" class="site_title">
                                <i class="fa fa-file-text-o"></i><span>
                                    <asp:Label CssClass="navbar-link"> Liquidación </asp:Label>
                                </span>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="@Url.Content("~/Images/user.png")" alt="..." class="img-circle profile_img" />
                            </div>
                            <div class="profile_info" runat="server" id="divuser">
                                <span>Bienvenido,</span>
                                <span class="user-name">
                                    @if (Session["Nombre"] != null && Session["Apellido"] != null)
                                    {
                                        <span class="navbar-link">@Session["Nombre"].ToString()</span>
                                        <span class="navbar-link">@Session["Apellido"].ToString()</span>
                                    }
                                    else
                                    {
                                        <span class="navbar-link">Invitado</span>
                                    }
                                </span>
                            </div>
                        </div>
                        <!-- /menu profile quick info -->
                        <br />
                        <!-- Menú lateral -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>Módulos</h3>
                                <ul class="nav side-menu">
                                    <!-- Administración general -->
                                    <li>
                                        <a><i class="fa fa-sitemap"></i> Administración<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li>@Html.ActionLink("Nuevo usuario", "Crear", "Usuarios", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("Modificar usuario", "Modificar", "Usuarios", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("Eliminar usuario", "Eliminar", "Usuarios", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("Asignar usuario", "Asignar", "Usuarios", new { area = "" }, new { @class = "nav-link" })</li>
                                        </ul>
                                    </li>
                                    <!-- Administración de actividades -->
                                    <li>
                                        <a><i class="fa fa-file-excel-o"></i> Facturas <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li>@Html.ActionLink("Cargar facturas", "Cargar", "Facturas", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("Reclamar facturas", "Reclamar", "Facturas", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("Liquidar facturas", "Liquidar", "Facturas", new { area = "" }, new { @class = "nav-link" })</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Botones del menú lateral -->
                        <div class="sidebar-footer hidden-small">
                            <a data-toggle="tooltip" data-placement="top" title="Ajustes">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Pantalla Completa">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Contraseña" href="@Url.Action("Contrasena", "Extras")">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Cerrar Sesión" href="@Url.Action("Logout", "Account")">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Barra superior (top_nav) -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <nav class="nav navbar-nav">
                            <ul class="navbar-right">
                                <!-- Menú de usuario -->
                                <li class="nav-item dropdown open">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                        <img src="~/Images/user.png" alt="..."> Usuario
                                    </a>
                                    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="javascript:;">Perfil</a>
                                        <a class="dropdown-item" href="@Url.Action("Contrasena", "Extras")">Contraseña</a>
                                        <a class="dropdown-item" href="javascript:;">Ayuda</a>
                                        <a class="dropdown-item" href="@Url.Action("Logout", "Account")">Cerrar sesión</a>
                                    </div>
                                </li>
                                <!-- Notificaciones -->
                                <li class="nav-item dropdown open">
                                    <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-green">6</span>
                                    </a>
                                    <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                        <!-- Mensajes de notificaciones -->
                                        <li class="nav-item">
                                            <a class="dropdown-item">
                                                <span class="image"><img src="~/Images/user.png" alt="Profile Image" /></span>
                                                <span>
                                                    <span>Administrador</span>
                                                    <span class="time">Hace 3 minutos</span>
                                                </span>
                                                <span class="message">Actualización realizada</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <div class="text-center">
                                                <a class="dropdown-item">
                                                    <strong>Ver todas las alertas</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- page content -->
                <div class="right_col" role="main">
                    <asp:ContentPlaceHolder ID="body1" runat="server">
                        <div class="container body-content">
                            @RenderBody()
                            <hr />
                            <footer>
                                <p></p>
                            </footer>
                        </div>
                    </asp:ContentPlaceHolder>
                </div>
                <!-- Pie de página -->
                <footer>
                    <div class="pull-right">
                        &copy; @DateTime.Now.Year Grupo Enlasa - Admin Template by <a href="https://getbootstrap.com/">Bootstrap</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
            </div>
        </div>
        @*@Scripts.Render("~/VENDORS/JS")
            @Scripts.Render("~/BUILD/JS")*@
        <!-- Referencias JS -->
        <script src="@Url.Content("~/vendors/jquery/dist/jquery.min.js")"></script>
        <script src="@Url.Content("~/vendors/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
        <script src="@Url.Content("~/vendors/fastclick/lib/fastclick.js")"></script>
        <script src="@Url.Content("~/vendors/nprogress/nprogress.js")"></script>
        <script src="@Url.Content("~/vendors/Chart.js/dist/Chart.min.js")"></script>
        <script src="@Url.Content("~/vendors/gauge.js/dist/gauge.min.js")"></script>
        <script src="@Url.Content("~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js")"></script>
        <script src="@Url.Content("~/vendors/iCheck/icheck.min.js")"></script>
        <script src="@Url.Content("~/vendors/skycons/skycons.js")"></script>
        <script src="@Url.Content("~/vendors/Flot/jquery.flot.js")"></script>
        <script src="@Url.Content("~/vendors/Flot/jquery.flot.pie.js")"></script>
        <script src="@Url.Content("~/vendors/Flot/jquery.flot.time.js")"></script>
        <script src="@Url.Content("~/vendors/Flot/jquery.flot.stack.js")"></script>
        <script src="@Url.Content("~/vendors/Flot/jquery.flot.resize.js")"></script>
        <script src="@Url.Content("~/vendors/flot.orderbars/js/jquery.flot.orderBars.js")"></script>
        <script src="@Url.Content("~/vendors/flot-spline/js/jquery.flot.spline.min.js")"></script>
        <script src="@Url.Content("~/vendors/flot.curvedlines/curvedLines.js")"></script>
        <script src="@Url.Content("~/vendors/DateJS/build/date.js")"></script>
        <script src="@Url.Content("~/vendors/jqvmap/dist/jquery.vmap.js")"></script>
        <script src="@Url.Content("~/vendors/jqvmap/dist/maps/jquery.vmap.world.js")"></script>
        <script src="@Url.Content("~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js")"></script>
        <script src="@Url.Content("~/vendors/moment/min/moment.min.js")"></script>
        <script src="@Url.Content("~/vendors/bootstrap-daterangepicker/daterangepicker.js")"></script>
        <script src="@Url.Content("~/build/js/custom.min.js")"></script>
    </form>
</body>
</html>